/* INITIALIZERS + DEFAULT STYLES
 * ============================== */

html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

h1 {
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 625px) {
 h1 {
    font-size: 40px;
  }
}

img {
  max-width: 100%;
  display: block;
}

button:focus {
  outline: 0;
}


/* PRODUCT LIST STYLES
 * ============================== */
.products {
  max-width: 1100px;
  margin: 0 auto;
}

.product-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.product-list > div {
  flex: 0 0 30%;
}

@media screen and (max-width: 625px) {

  .product-list > div {
    flex: 0 0 95%;
    margin-bottom: 20px;
  }
}

.product {
  background: white;
  padding: 20px;
  margin: 0 auto;
}

.product-pricing {
  display: inline-block;
  padding-left: 10px;
}


.product label {
  margin-bottom: 10px;
  display: block;
}

.product select {
  margin-bottom: 10px;
}

.product h2 {
  font-size: 16px;
  line-height: 22px;
}

.product select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 9px 17px 9px 8px;
  color: dimgrey;
  font-size: 12px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: right 3% center;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNy43cHgiIGhlaWdodD0iNC4zcHgiIHZpZXdCb3g9IjAgMCA3LjcgNC4zIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA3LjcgNC4zIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiM5OTk5OTkiIGQ9Ik03LjEsMC4xQzYuNywwLjUsMy45LDMuMiwzLjksMy4yUzEsMC41LDAuNiwwLjFTMCwwLjcsMCwwLjdsMy45LDMuNmwzLjgtMy42QzcuNywwLjcsNy41LTAuMyw3LjEsMC4xeiIvPg0KPC9zdmc+DQo=");
  -moz-background-size: 0px;
}

.buy-button-wrapper {
  margin-top: 20px;
}

.buy-button {
  max-width: 100%;
  display: inline-block;
}

.button {
  background: #333741;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 9px;
  outline: 0;
  padding: 12px 15px;
  font-size: 13px;
  font-weight: bold;
}

.button:disabled {
  width: 100%;
  background: #bfbfbf;
  cursor: not-allowed;
}



/* CART STYLES
 * ============================== */

.cart {
  background: #fff;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}

.cart.cart--open {
  transform: translateX(0);
}

.cart h2 {
  margin: 0;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 6px 12px;
  border-bottom: 1px solid #ededed;
}

.cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.cart-list li:last-child {
  border-bottom: none;
}

.cart-list li label {
  padding: 15px 60px 15px 15px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-size: 16px;
  white-space: normal;
  word-break: normal;

}

.cart-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 7px;
  transition: color 0.2s ease-out;
  border: none;
  background: none;
  cursor: pointer;
}

.cart-list li .destroy:hover {
  color: #af5b5e;
}

.cart-list li .destroy:after {
  content: '×';
}

.cart-list li:hover .destroy {
  display: block;
}

.cart-footer {
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.cart-footer .button {
  width: 100%;
}

.cart-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px; /* TODO: bump up this value to ensure alignment */
  border: none;
  background: none;
  font-size: 20px;
}
